:root {
  --bg-primary: #292929;
  --bg-secondary: #1C1C1C;
  --color-primary: #12c2e9;
  --color-secondary: #b9b9b9;
  --color-third: #ebebeb;
  --color-fourth: #c471ed;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: var(--bg-primary);
  color: var(--color-third);
}

.title {
  display: grid;
  justify-content: center;
  text-align: center;
}

h1, h2 {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

strong {
  color: var(--color-fourth)
}

p {
  letter-spacing: 0.1em;
  color: var(--color-third)
}

.example-api {
  background-color: #F8F9FA;
  padding: 10px;
  border: 2px solid var(--color-fourth);
  color: black;
}

.api-container {
  margin-bottom: 30px;
  border: 2px solid #007BFF;
  padding: 10px;
}

span {
  color: greenyellow;
}